<html>
<head>
    <meta charset='utf-8'>
    <title>플라스크월드</title>
    <style type="text/css">
        #wrap {
            text-align:center;
            background:red;
            color:aliceblue;
            width:400px;
            margin:50px auto;
            padding:20px
        }
        ul>li { display:inline;padding:10px;border:1px solid black}
    </style>

</head>
<body>
    <!-- sub.html 인클루드-->
    {% include "sub.html" %}
    <div id="wrap">
        <h2>Welcome Flask World</h2>
    </div>
    {% include "sub2.html" %}

</body>
</html>