{% extends 'quiz_layout.html' %}
{% block content %}
<h2>Designers</h2>
<div class="textBox">
    <p>Designers. The best team in the world.</p>
    <p>We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Our designers are thoughtfully chosen: John John Doe CEO & Founder Phasellus eget enim eu lectus faucibus vestibulum.</p>
    <!-- <img src="/static/quiz/atrium.jpg" alt=""> -->
    <!-- <img src="/static/quiz/kitchenconcrete.jpg" alt=""> -->
</div>
<div class="peopleBox">
    <div>
        <img src="/static/quiz/team1.jpg" alt="team1">
    </div>
    
    <div>
        <img src="/static/quiz/team2.jpg" alt="team2">
    </div>
    
    <div>
        <img src="/static/quiz/team3.jpg" alt="team3">
    </div>
</div>
{% endblock %}