<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form submit</title>
</head>
<body>
    <h3>폼 양식추가</h3>
    <form action="/result" method="post" style="background:orange">
        name: <br>
        <input type="text" name="name" value="">
        <br>
        emailaddress: <br>
        <input type="text" name="emailaddress" value="">
        <br>
        phonenumber: <br>
        <input type="text" name="phonenumber" value="">
        <br><br>
        message: <br>
        <input type="text" name="message" value="">
        <br><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>
