<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>for 문 이용하기</h1>
    <h2>1부터 10까지 출력하기</h2>
    {% for i in range(1,11) %}
    <p> count: {{i}} </p>
    {% endfor %}
    <hr>
    <h2>5단 출력하기</h2>
    {% for j in range(1,10) %}
    5 X {{j}} = {{5*j}} <br>
    {% endfor %}
    <hr>
    <h2>중복 for문</h2>
    {% for i in range(1,6) %}
    <h3>i번째</h3>
        {% for i in range(1,4) %}
        <p>j</p>
        {% endfor %}
    {% endfor%}
</body>
</html>