<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>if_else_result.html</title>
</head>
<body>
    <h1>if 조건문 이용하기</h1>
    <p>Age : {{age}}</p>
    <p>
        {% if 0<age<8 %}
        <span>어린이집에 다닙니다.</span>
        {% elif 8<=age<14 %}
        <span>초등학생입니다.</span>
        {% elif 14<=age<17 %}
        <span>중학생입니다.</span>
        {% elif 17<=age<20 %}
        <span>고등학생입니다.</span>
        {% else %}
        <span>성인입니다.</span>
        {% endif %}
    </p>
    <p> <a href='/'>홈으로 이동</a></p>
</body>
</html>