<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        form {width:500px;margin:0 auto}
        label {display:block; padding:5px; text-align:center}
    </style>
</head>
<body>
    <h1>insertdata_form.html</h1>
    <hr>
    <h2>데이터 삽입</h2>
    <form action='/action' method='POST'>
        <label>username : <input type="text" name="username"></label>
        <label>userage : <input type="int" name="userage"></label>
        <label>usergender : <input type="text" name="usergender"></label>
        <label>usermajor : <input type="text" name="usermajor"></label>
        <label><button>전송</button></label>    
    </form>
</body>
</html>