<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #tableStyle {width:600px; margin:0 auto; border-collapse:collapse;}
        #tableStyle tr th {background:cadetblue;padding:5px;
                            border:1px solid black}
        #tableStyle tr td {padding:5px; border:1px solid black;
                            text-align:center}
    </style>
</head>
<body>
    <h1>sqlite table 표시하기</h1>
    <h2>전체 출력하기</h2>
    <div>{{ result }}</div>
    <hr>
    <h2>테이블을 이용해서 출력하기</h2>
    <table id="tableStyle">
        <tr>
            <th>Genreid</th>
            <th>Name</th>
        </tr>
        <!-- 리스트안에서 컬럼별로 td안에 반복해서 삽입 -->
        {% for row in result %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>