<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>2 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor1/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/2-col-portfolio.css" rel="stylesheet">
    <style>
        .asdf{
            float:right
        }
    </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">따릉따릉</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">따릉이란?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">서비스 이용방법</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">문의하기</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h2 class="my-4">공원
        <small>검색결과</small>
      </h2>

      <div class="row">
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width:538px;height:400px" src="/static/olimpic.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:green">올림픽 공원</a>
              </h4>
              <p class="card-text">서울특별시 송파구 방이동 88번지에 있는 공원. 1988 서울 올림픽 개최를 위해 서울특별시가 1,823억의 사업비를 들여서 개장했으며 1986년에 완공되었다.한국체육대학교와 성내유수지생태공원을 제외해도 전국에서 가장 큰 도심 속 공원이었다. 그러나 2005년에 시설규모 87만평 전체규모 369만평에 이르는 울산대공원이 개장함으로써 가장 큰 도심공원이라는 타이틀은 빼앗겼다.</p>
              <span class="asdf"><a href="/abcd" class="btn btn-success">바로 안내 &rarr;</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width:538px;height:400px" src="/static/yeoi.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:green">여의도 공원</a>
              </h4>
              <p class="card-text">뉴욕에 센트럴파크, 런던에 하이드파크가 있다면 서울에는 여의도공원이 있다. 27년간 검은 아스팔트로 뒤덮여 있던 여의도 광장이 숲과 잔디, 물이 어우러진 도심공원으로 새롭게 태어났다.</p>
              <span class="asdf"><a href="/abcd" class="btn btn-success">바로 안내 &rarr;</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width:538px;height:400px" src="/static/ilsan.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:green">일산 호수공원</a>
              </h4>
              <p class="card-text">경기도 고양시 일산동구 장항동에 위치한 생태공원으로, 일산신도시의 남쪽에 위치해 있다. 호수공원 전체가 일산동구 장항2동 관할이다.[1] 이에 따라 일산동구와 일산서구는 고봉로를 통해 경계가 갈리다가 호수공원에서 서구쪽으로 음푹 파인 형태로 경계선이 갈린다.</p>
              <span class="asdf"><a href="/abcd" class="btn btn-success">바로 안내 &rarr;</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width:538px;height:400px" src="/static/seokchon.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:green">석촌호수</a>
              </h4>
              <p class="card-text">서울특별시 송파구 잠실동(잠실3동)과 신천동(잠실6동)에 걸쳐있는 인공호수. 송파대로를 기준으로 서호와 동호로 나누어져 있는데, 서호는 잠실동에, 동호는 신천동에 속한다. 이름과는 달리 석촌동에 없다!</p>
              <span class="asdf"><a href="/abcd" class="btn btn-success">바로 안내 &rarr;</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width:538px;height:400px"src="/static/seoulforest.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:green">서울 숲</a>
              </h4>
              <p class="card-text">서울특별시 성동구에 위치한 테마공원[1]. 2005년 6월에 개원하여 현재 (재)서울그린트러스트의 서울숲 운영조직인 서울숲컨서번시에서 관리 및 운영을 맡고 있다.</p>
              <span class="asdf"><a href="/abcd" class="btn btn-success">바로 안내 &rarr;</a></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" style="width:538px;height:400px" src="/static/hyochang.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" style="color:green">효창공원</a>
              </h4>
              <p class="card-text">서울특별시 용산구 효창동에 있는 시립공원. 지리적으로는 효창동 외에도 청파2가동, 마포구 공덕동과 신공덕동까지 영역이 있으며 일반적 공원과는 달리 호국보훈 관련 시설 및 유적지들이 있어 호국적, 역사적인 분위기를 보이고 있다.
원래는 조선왕조 22대 임금 정조의 장남 문효세자의 묘가 있는 자리라 하여 '효창원(孝昌園)'이라는 이름으로 불리웠다. 그 외 문효세자의 생모인 의빈 성씨의 묘소가 함께 있었다. </p>
              <span class="asdf"><a href="/abcd" class="btn btn-success">바로 안내 &rarr;</a></span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">멀티캠퍼스 &copy; Ddarereung 2018</p>
        </div>
        <!-- /.container -->
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>