<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>form_grade</title>
</head>
<body>
    <h1>form_grade</h1>
    <h2>성적 입력 폼</h2>
    <form action="/grade_result" method="POST">
    <label for="">국어 
        <input type="text" name="kor">
    </label>
    <label for="">영어 
        <input type="text" name="eng">
    </label>
    <label for="">수학 
        <input type="text" name="math">
    </label>
    <button>전송</button>
    </form>
</body>
</html>