{% extends 'quiz_layout.html' %}
{% block content %}
<h2>Service</h2>
<div class="textBox">
    <p>
            Interior Design Showcase. Concrete meets bricks Light, white and tight scandinavian design White walls with designer chairs Windows for the atrium Bedroom and office in one space Scandinavian design Services. We are a interio
    </p>

    <p>
            you! Some text about our services - what we do and what we offer. We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore m
    </p>
</div>
{% endblock %}